.flip-container {
    /* Rappresenta l'inclinazione prospettica, in questo caso della rotazione */
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -ms-perspective: 800;
    perspective: 800;
    margin:0 auto;
}

/* ruota il pannello al mousehover */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

    .flip-container,
    .front,
    .back {
        width: 195px;
        height: 300px;
    }
    
/* flip speed goes here */
.flipper {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background:none;
}

/*  front pane, placed above back, quello con lo z-index + alto, 
    anche se sta prima nel codice, finisce sopra */
.front {
    z-index: 2;
    box-shadow:0 0 50px rgba(0,0,0,0.3);
}

.front img {
    width: 100%;
    height: 100%;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow:0 0 40px rgba(0,0,0,0.2);
    overflow-y: hidden;
}

.back ul {
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
    margin: 0;
}

.back li h3{
    color: #df8a13;
    margin: 0;
    margin-bottom: 2px;
}

.back li a{
    font-size: 10px;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.back li a:hover {
    color: #eee;
}